.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 180px;
    text-align: center;
    background-color: transparent;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
    }


    .map-responsive{
        overflow:hidden;
        /* padding-bottom:50%; */
        position:relative;
        height: 300px;
    }
    .map-responsive iframe{
        height:100%;
        width:100%;
        /* position:absolute; */
    }
    .card-columns {
      column-count: 3;
  }

  .btn-cta {
    color: rgb(197, 197, 197);
    background-color: rgb(202, 45, 45);
    border-color: rgb(202, 45, 45);
  }

  .btn-cta:hover {
    color: rgb(117, 117, 117);
    background-color: rgba(202, 45, 45, 0.329);
    border-color: rgba(202, 45, 45, 0.329);
  }

  .carousel-inner > .item > img {
    width:640px;
    height:360px;
  }


 

  @media (min-width: 992px) {
     img{
        max-width:100%;
        max-height:100%;
      }
      .jumbotron .hero{
          height: 100vh;
      }
      .carousel-item{
        height: 70vh;
        overflow: hidden;
      }
      .map-responsive{
        overflow:hidden;
        position:relative;
        height: 500px;
    }
    .map-responsive iframe{
        width:100%;
 
    }
  }
  

  